<html>
<head>
  <title>All o' the Creets</title>
  <style>
  body {
    color: white;
    background-color: #595B61;
  }
  </style>
</head>
<body>
<h3>User #{{userId}}</h3>
<h2>All o' the Creets</h2>
<div>
{{#each data}}
  <p>Cretin #{{userId}} - {{this.tweeted}}<a href="/user/{{userId}}"> View Profile</a></p>
{{/each}}
</div>
<a href="/newTweet">Post a Creet</a> |
<a href="/user/{{userId}}">View my Profile</a> |
<a href="/signOut">Sign Out</a>
</body>
</html>
